@import url("https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap");

body {
    margin: 0;
    overflow-x: hidden;
}

h2 {
  font-weight: 100;
  font-size: 2rem;
  text-align: center;
}

table,
th,
td {
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
}

table.center {
    margin-left: auto;
    margin-right: auto;
}

figure {
    width: 30%;
    float: right;
    margin: 3px;
    text-align: center;
    padding: 0;
}

canvas {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -999;

}

h1 {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.insignia {
    float: right;
    width: 33.3%;
    margin-right: 3px;
    margin-top: 3px;
    margin-left: 3px;
    margin-bottom: 3px;
}

@media screen and (min-width: 1200px) {
    .mobile {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .btns {
        width: 30%;
	height: 30%;
    }
    #animation {
        width: 30%;
	height: 30%;
	place-content: inherit;
    }
}

@media screen and (max-width: 1200px) {
    .mobile {}
}

pre {
-webkit-font-smoothing: antialiased;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 100;
    z-index: -99;
}

a {
font-weight: 700;
}

#twitch-embed {
    z-index: 777;
}
#twitch-embed iframe {
    width: 100%;
    border-left-width: 3px;
    border-right-width: 3px;
    border-bottom-width: 3px;
}
.yti {
    margin-left: 3px;
    margin-bottom: 7px;
}

.button-div {
    box-sizing: border-box;
    display: block;
    height: calc(470px - 27vw);
    width: 75%;
    animation: hue-rotate 10s linear infinite;
    background-color: #222;
    padding-bottom: 5px;
    z-index: 99;
}

.feed-div {
    object-position: left bottom;
    width: 100%;
    display: block;
    animation: feed-hue-rotate 16s linear infinite;
    clear: both;
}

h2 {
  font-weight: 100;
  font-size: 2rem;
  text-align: center;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.cell1 {
  padding-right: 7em;
}

.cell2 {
  padding-left: 7em;
}

.choices, .computer {
  display: grid;
  justify-content: center;
  gap: 3em;
}

.btns {
  position: relative;
  border-radius: 100vmax;
  border: 1px solid #1f202050;
  width: 10em;
  aspect-ratio: 1;
}

.choices button {
  position: relative;
  offset-path: border-box;
  font-size: 4rem;
  margin: 5px;
  border: none;
  background: #E1F8DC;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  aspect-ratio: 1;
  border: 1px solid #1f202030;
  border-radius: 100vmax;
  offset-rotate: 0deg;
}

#rock {
  offset-distance: 0%;
}

#paper {
  offset-distance: calc(60 / 180 * 100%);
}

#scissors {
  offset-distance: calc(120 / 180 * 100%);
}

.choices button:hover {
  transform: scale(1.2);
}

#result {
  font-size: 1.3rem;
  margin-top: 2em;
  min-height: 3em;
  text-align: center;
  grid-column: span 2;
}

#animation {
  font-size: 4rem;
  border: 1px solid #1f202030;
  border-radius: 100vmax;
  aspect-ratio: 1;
  display: grid;
  place-content: center;
  background-image: repeating-conic-gradient(#E1F8DC 0deg 10deg, #0000 10deg 20deg);
  transition: background-color 0.5s ease;
}

@keyframes fireworks {
  0% {
    opacity: 1;
    transform: scale(0);
  }
  80% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(1.2);
  }
}
.firework {
  position: absolute;
  width: 15em;
  height: 15em;
  border-radius: 70%;
  background: radial-gradient(circle, white 10%, red 30%, yellow 60%, rgba(255, 255, 255, 0) 100%);
  animation: fireworks 1s ease-out forwards;
}

#fireworks-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

@keyframes feed-hue-rotate {
    from {
        -webkit-filter: hue-rotate(0);
        -moz-filter: hue-rotate(0);
        -ms-filter: hue-rotate(0);
        filter: hue-rotate(0);
    }

    to {
        -webkit-filter: hue-rotate(70deg);
        -moz-filter: hue-rotate(70deg);
        -ms-filter: hue-rotate(70deg);
        filter: hue-rotate(70deg);
    }
}

.button {
    -webkit-font-smoothing: antialiased;
    background-color: #222;
    border: none;
    color: #fff;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 100;
    text-decoration: none;
    user-select: none;
    letter-spacing: 1px;
    color: white;
    padding: 7px 0px 7px 7px;
    text-transform: uppercase;
    transition: all 0.1s ease-out;
}

.button:hover {
    background-color: #90feb5;
    color: #fff;
}

.button:active {
    transform: scale(0.95);
}

.button--bubble {
    position: relative;
    z-index: 2;
    color: white;
    background: none;
}

.button--bubble:hover {
    background: none;
}

.button--bubble:hover+.button--bubble__effect-container .circle {
    background: #44fd82;
}

.button--bubble:hover+.button--bubble__effect-container .button {
    background: #44fd82;
}

.button--bubble:active+.button--bubble__effect-container {
    transform: scale(0.95);
}

.button--bubble__container {
    position: relative;
    display: inline-block;
}

.button--bubble__container .effect-button {
    position: absolute;
    width: 50%;
    height: 25%;
    top: 50%;
    left: 25%;
    z-index: 1;
    transform: translateY(-50%);
    background: #222;
    transition: background 0.1s ease-out;
}

.button--bubble__effect-container {
    position: absolute;
    display: block;
    width: 200%;
    height: 400%;
    top: -150%;
    left: -50%;
    -webkit-filter: url("#goo");
    filter: url("#goo");
    transition: all 0.1s ease-out;
    pointer-events: none;
}

.button--bubble__effect-container .circle {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 15px;
    background: #222;
    transition: background 0.1s ease-out;
}

.button--bubble__effect-container .circle.top-left {
    top: 40%;
    left: 27%;
}

.button--bubble__effect-container .circle.bottom-right {
    bottom: 40%;
    right: 27%;
}

.goo {
    position: absolute;
    visibility: hidden;
    width: 1px;
    height: 1px;
}

.button--bubble__container {
    top: 50%;
    margin-top: -25px;
}

@keyframes hue-rotate {
    from {
        -webkit-filter: hue-rotate(0);
        -moz-filter: hue-rotate(0);
        -ms-filter: hue-rotate(0);
        filter: hue-rotate(0);
    }

    to {
        -webkit-filter: hue-rotate(360deg);
        -moz-filter: hue-rotate(360deg);
        -ms-filter: hue-rotate(360deg);
        filter: hue-rotate(360deg);
    }
}


.button2 {
    -webkit-font-smoothing: antialiased;
    background-color: #222;
    border: none;
    color: #fff;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    font-weight: 100;
    text-decoration: none;
    user-select: none;
    letter-spacing: 1px;
    color: white;
    padding: 5px 0px 5px 5px;
    text-transform: uppercase;
    transition: all 0.1s ease-out;
}

.button2:hover {
    background-color: #90feb5;
    color: #fff;
}

.button2:active {
    transform: scale(0.95);
}

.button2--bubble {
    position: relative;
    z-index: 2;
    color: white;
    background: none;
}

.button2--bubble:hover {
    background: none;
}

.button2--bubble:hover+.button2--bubble__effect-container .circle {
    background: #44fd82;
}

.button2--bubble:hover+.button2--bubble__effect-container .button2 {
    background: #44fd82;
}

.button2--bubble:active+.button2--bubble__effect-container {
    transform: scale(0.95);
}

.button2--bubble__container {
    position: relative;
    display: inline-block;
}

.button2--bubble__container .effect-button2 {
    position: absolute;
    width: 50%;
    height: 25%;
    top: 50%;
    left: 25%;
    z-index: 1;
    transform: translateY(-50%);
    background: #222;
    transition: background 0.1s ease-out;
}

.button2--bubble__effect-container {
    position: absolute;
    display: block;
    width: 200%;
    height: 400%;
    top: -150%;
    left: -50%;
    -webkit-filter: url("#goo");
    filter: url("#goo");
    transition: all 0.1s ease-out;
    pointer-events: none;
}

.button2--bubble__effect-container .circle {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 15px;
    background: #222;
    transition: background 0.1s ease-out;
}

.button2--bubble__effect-container .circle.top-left {
    top: 40%;
    left: 27%;
}

.button2--bubble__effect-container .circle.bottom-right {
    bottom: 40%;
    right: 27%;
}
}

.button2--bubble__container {
    top: 50%;
    margin-top: -25px;
}
